*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  background-color: skyblue;

}
.header{
  width: 100%;
  line-height: 100px;
  justify-content: start;
  background-color: #f5ba13;
  display: flex;
  padding-left: 50px;
  color: white;
  align-items: center;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0,0,0.3);
}
.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: flex;
}
.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-note{
  height: 150px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 224, 224);
  margin-top: 10px;

}
input{
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  
}
textarea{
  width: 250px;
  height: 50px;
}
button{
  width: 50px;
  height: 30px;
  margin-top: 10px;
  }
.div-note{
  height: 150px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 213, 216);
  margin-top: 20px;
  
}
.main-container{
  display: inline-block;
  margin: 20px;
}
.btn-red:hover{
color: red;
}
.btn-green:hover{
  color: green;
}
